
html, body
{
    font-family: "Roboto" !important;
}
input:active, input:hover, input:focus, input, select, select:active, select:hover, select:focus, textarea, textarea:active, textarea:hover, textarea:focus
{
    outline: 0;
    outline-offset: 0;
    background-color: transparent;
    border: none;
}

input:-webkit-autofill {
    transition: all 5000s ease-in-out 0s;
}

.details
{
    width: 200px;
    max-width: none;
    right: 0;
    text-align: center;
}

.info-banner
{
    display: none;
    transition: .3s;
    opacity: 0;
}

.sec
{
    display: none;
    transition: .1s;
    opacity: 1;
}

.sec-active
{
    display: block;
}

.info:hover .info-banner
{
    display: block;
}

@media screen and (max-width: 1023px)
{
    .first_input, .brdr-b-l, .brdr-b-r
    {
        position: relative;
    }
    .first_input:after, .brdr-b-l:before, .brdr-b-r:before
    {
        position: absolute;
        content: "";
        background-color: black;
        opacity: .25;
    }
    .brdr-b-l:before
    {
        width: 95%;
        height: 1px;
        bottom: 0;
        right: 0;
    }
    .brdr-b-r:before
    {
        width: 95%;
        height: 1px;
        bottom: 0;
        left: 0;
    }
    .first_input:after
    {
        height: 90%;
        width: 1px;
        right: 0;
        bottom: 25%;
        margin: auto;
    }

    #search-form
    {
        width: 95% !important;
        margin: auto;
    }

    #filter-div
    {
        display: none;
    }

    .details
    {
        position: absolute;
        top: 100%;
        width: 90vw;
    }
}

.filter-btn
{
    transition: .3s;
}

.rotate-btn
{
    transform: rotate(180deg);
}

.ff-montserrat
{
    font-family: 'Montserrat' !important;
}

.arrow-btn
{
    text-decoration: none;
    color: var(--bs-component-color);
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    transition: .3s;

    span
    {
        border: 2px solid rgba(var(--bs-component-color-rgb),.5);
        width: 40px;
        height: 40px;
        margin-right: 0.9375rem;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        transition: .5s;

        .first
        {
            position: absolute;
            transform: translateX(0);
            transition: .3s;
        }

        .second
        {
            position: absolute;
            transform: translateX(-40px);
            transition: .3s;
            color: #fff;

        }
    }
}

.arrow-btn:hover
{
    color: var(--bs-app-theme);
    span
    {
        border: 2px solid var(--bs-app-theme);
        background-color: var(--bs-app-theme);

        .first
        {
            transform: translateX(30px);
            color: var(--bs-component-color);
        }

        .second
        {
            transform: translateX(0);
        }
    }
}

.hide-text
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 63px;
}

.header-link
{
    overflow: hidden;
    height: 37px;
    transition: .4s;

    .first
    {
        color: #fff;
        transform: translateY(0);
        transition: .4s;

    }

    .second
    {
        color:rgba(255,255,255,.5);
        transform: translateY(0);
        transition: .4s;

    }
}

.header-link:hover
{
    .first
    {
        transform: translateY(-37px);
    }

    .second
    {
        transform: translateY(-37px);
    }
}

.rounded-pill:hover
{
    opacity: 100% !important;
}

.latest-news
{
    transition: .3s;
}

.latest-news:hover
{
    box-shadow: var(--bs-box-shadow);
}

.table-row{
    background-color: rgba(194,194,195, .4)!important;
    transition: .3s;
}

.table-row:hover{
    background-color: rgba(194,194,195, .6)!important;
}


.loading-page
{
    opacity: .5;
    animation-name: blinking;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

@keyframes blinking
{
    0% {opacity: .2}
    50% {opacity: .7}
    100% {opacity: .2}
}

.loading-bar
{
    animation-name: progress;
    animation-duration: 10s;
    height: 100%;
}

@keyframes progress
{
    from {width: 0%}
    to {width: 75%}
}

.progress-bar-complete
{
    animation-name: progress-bar-complete;
    animation-duration: 1s;
    height: 0;
}

@keyframes progress-bar-complete
{
    0% {padding-right: 0%; height: 100%}
    50% {padding-right: 100%; height: 100%}
    100% {padding-right: 100%; height: 0 !important;}
}
